<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Spring Security Example</title>
</head>
<body>

	<form th:action="@{/user/messageResetPassword}" th:object="${resetPass}" method="post">
		<div>
			<label th:text="#{user.resetPass.email}">email</label>
			<input id="email" name="email" type="email" value="" />
			<p th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation error</p>
		</div>
		
		<button type="submit" th:text="#{user.message.resetPassword}">reset</button>
	</form>

	<a th:href="@{/user/registration}" th:text="#{user.registration}">registration </a>
	<a th:href="@{/login}" th:text="#{form.loginLink}">login</a>
</body>
</html>